.xstheme{width:93.9%;margin:3% 1%;background:#ededed;}
.xstheme .xsoption{width:100%;min-height:32px;}
.xstheme .xstitle{float:right;width:40%;height:30px;font:normal 14px "Segoe UI",tahoma;text-align:right;text-indent:8px;color:#333;line-height:30px;}
.xstheme audio{float:left;width:59.9%;height:30px;}