.xptheme{width:93.9%;margin:4% 1%;padding:2%;background:#ededed;border-radius:4px;border-bottom:2px solid #999;}
.xptheme .xptitle{width:100px;margin:-24px 6px 2px 2px;font:12px tahoma;height:30px;text-indent:10px;background:#999;border-radius:4px;color:#fafafa;line-height:30px;}
.xptheme .xpitems{margin:8px 0 0 0;}
.xptheme a{margin:2px;}